*{
    cursor:url('image/cursorHarry.png'),auto;
    /* l'image doit etre en 32px*32px et avoir la class cursor_img */

}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url(image/arrPlan.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position: bottom;
    background-size: 100%;
    /* border: solid red; */
    width: 100%;
    height: 95vh;
}
main{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.partieG{
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: hsla(120, 42%, 51%, 0.4);
    border-radius: 45%;
    width: 100vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border: green;

}
h1{
    text-align: center;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    border: solid gold;
    font-size: 100px;
    color:gold;
}
.vifdor{
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.score{

    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 500px;
    color: black;
    /* border: solid green; */
    opacity: 0.5;
}
#pTime{
    margin-left: 50px;
    position: absolute;
    background: black;
    font-size: 200px;
    color: purple;
}
#btnStart{
    z-index: 1;
}